<div class="row">
<!--
  <div class="col-md-6">
    <h3>Day 1</h3>
    <table class="table table-striped">
      <tr> <td>Before</td> <td><a href="{{ site.pre_survey }}{{ site.github.project_title }}">Pre-workshop survey</a> </td> </tr>
      <tr> <td>09:00</td>  <td><a href="https://ucsbcarpentry.github.io/2020-10-09-ReprodR/01-rstudio-intro/index.html"></a>Intro to Rstudio</td></tr>
      <tr> <td>10:30</td>  <td>Morning break</td> </tr>
      <tr> <td>11:00</td>  <td>Automating Tasks with the Unix Shell (Continued)</td> </tr>
      <tr> <td>12:00</td>  <td>Lunch break</td> </tr>
      <tr> <td>13:00</td>  <td>Building Programs with Python</td> </tr>
      <tr> <td>14:30</td>  <td>Afternoon break</td> </tr>
      <tr> <td>15:00</td>  <td>Building Programs with Python (Continued)</td> </tr>
      <tr> <td>16:00</td>  <td>Wrap-up</td> </tr>
      <tr> <td>16:30</td>  <td>END</td> </tr>
    </table>
  </div>
  <div class="col-md-6">
    <h3>Day 2</h3>
    <table class="table table-striped">
      <tr> <td>09:00</td>  <td>Version Control with Git</td> </tr>
      <tr> <td>10:30</td>  <td>Morning break</td> </tr>
      <tr> <td>11:00</td>  <td>Version Control with Git (Continued)</td> </tr>
      <tr> <td>12:00</td>  <td>Lunch break</td> </tr>
      <tr> <td>13:00</td>  <td>Managing Data with SQL</td> </tr>
      <tr> <td>14:30</td>  <td>Afternoon break</td> </tr>
      <tr> <td>15:00</td>  <td>Managing Data with SQL (Continued)</td> </tr>
      <tr> <td>16:00</td>  <td>Wrap-up</td> </tr>
      <tr> <td>16:30</td>  <td><a href="{{ site.post_survey }}{{ site.github.project_title }}" target="_blank">Post-workshop Survey</a></td> </tr>
      <tr> <td>16:40</td>  <td>END</td> </tr>
    </table>
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    <h3>Day 3</h3>
    <table class="table table-striped">
      <tr> <td>09:00</td>  <td>Version Control with Git</td> </tr>
      <tr> <td>10:30</td>  <td>Morning break</td> </tr>
      <tr> <td>11:00</td>  <td>Version Control with Git (Continued)</td> </tr>
      <tr> <td>12:00</td>  <td>Lunch break</td> </tr>
      <tr> <td>13:00</td>  <td>Managing Data with SQL</td> </tr>
      <tr> <td>14:30</td>  <td>Afternoon break</td> </tr>
      <tr> <td>15:00</td>  <td>Managing Data with SQL (Continued)</td> </tr>
      <tr> <td>16:00</td>  <td>Wrap-up</td> </tr>
      <tr> <td>16:30</td>  <td><a href="{{ site.post_survey }}{{ site.github.project_title }}" target="_blank">Post-workshop Survey</a></td> </tr>
      <tr> <td>16:40</td>  <td>END</td> </tr>
    </table>
  </div>
</div>
-->
  <div class="col-md-6">
    <h3>Episodes need to be reviewed</h3>
    <table class="table table-striped">
      <tr> <td>1</td>  <td><a href="https://ucsbcarpentry.github.io/2020-10-09-ReprodR/01-rstudio-intro/index.html"></a>Rstudio Intro</a></td> </tr>
      <tr> <td>2</td>  <td><a href="https://ucsbcarpentry.github.io/2020-10-09-ReprodR/02-project-intro/index.html"></a>Project Management with RStudio</a></td> </tr>
      <tr> <td>3</td>  <td><a href="https://ucsbcarpentry.github.io/2020-10-09-ReprodR/03-seeking-help/index.html"></a>Seeking Help</td></tr>
      <tr> <td>4</td>  <td><a href="https://ucsbcarpentry.github.io/2020-10-09-ReprodR/04-data-structures-part1/index.html"></a>Data Structures</td></tr>
      <tr> <td>5</td>  <td><a href="https://ucsbcarpentry.github.io/2020-10-09-ReprodR/05-data-structures-part2/index.html"></a>Exploring Dataframes</td></tr>
      <tr> <td>6</td>  <td><a href="https://ucsbcarpentry.github.io/2020-10-09-ReprodR/06-data-subsetting/index.html"></a>Subsetting Data</td></tr>
      <tr> <td>7</td>  <td><a href="https://ucsbcarpentry.github.io/2020-10-09-ReprodR/07-control-flow/index.html"></a>Control Flow</td></tr>
      <tr> <td>8</td>  <td><a href="https://ucsbcarpentry.github.io/2020-10-09-ReprodR/08-plot-ggplot2/index.html"></a>Creating Publication-Quality Graphics with ggplot2</td></tr>
      <tr> <td>9</td>  <td><a href="https://ucsbcarpentry.github.io/2020-10-09-ReprodR/09-vectorization/index.html"></a>Vectorization</td></tr>
      <tr> <td>10</td>  <td><a href="https://ucsbcarpentry.github.io/2020-10-09-ReprodR/10-functions/index.html"></a>Functions Explained</td></tr>
      <tr> <td>11</td>  <td><a href="https://ucsbcarpentry.github.io/2020-10-09-ReprodR/11-writing-data/index.html"></a>Writing Data</td></tr>
      <tr> <td>12</td>  <td><a href="https://ucsbcarpentry.github.io/2020-10-09-ReprodR/12-plyr/index.html"></a>Splitting and Combining Data Frames with plyr</td></tr>
      <tr> <td>13</td>  <td><a href="https://ucsbcarpentry.github.io/2020-10-09-ReprodR/13-dplyr/index.html"></a>Dataframe Manipulation with dplyr</td></tr>
      <tr> <td>14</td>  <td><a href="https://ucsbcarpentry.github.io/2020-10-09-ReprodR/14-tidyr/index.html"></a>Dataframe Manipulation with tidyr</td</tr>
      <tr> <td>15</td>  <td><a href="https://ucsbcarpentry.github.io/2020-10-09-ReprodR/15-knitr-markdown/index.html"></a>Producing Reports with knitr</td></tr>
      <tr> <td>16</td>  <td><a href="https://ucsbcarpentry.github.io/2020-10-09-ReprodR/16-wrap-up/index.html"></a>Writing Good Sofware</td></tr>
    </table>
  </div>
</div>
 

